#Ignore everything
*/*
/**/bin/data
/**/src

#Whitelist subdirectories
!document/*
!simpleTone/src
!simpleToneParameter/src
!simpleToneTrigger/src
!FM_01/src
!simpleInput/src
!simpleInputFilter/src
!simpleInputReverb/src


#Whitelist the gitignore itself
!.gitignore

*.mov
*.icns